body {
    font-family: Arial, sans-serif;
    background-color: #acecc1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}
h1 {
    color: #4CAF50;
}
.score {
    font-size: 2rem;
    color: #FF5722;
    font-weight: bold;
}
p {
    font-size: 1.2rem;
    color: #555;
}
.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}
.button:hover {
    background-color: #45a049;
}
.label {
    font-weight: bold;
}
.premio {
    font-size: 1.6rem;
    background-color: #b5d81a;
}
.premio:hover {
    background-color: #8fa91b;
}